/* Reset básico y configuración global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: white;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

#root {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}


