@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-acento: #DC2626;
  --text-principal: #334155;
  --text-secundario: #64748B;;
  --text-terciario: #94A3B8;
  --bg-pagina: #F8FAFC;
}

@layer base {
  body {
    @apply bg-fondo text-gray-900 antialiased;
  }

  h1 {
    @apply text-xl font-extrabold text-primario tracking-tight mb-1;
  }

  h2{
     @apply  text-sm font-medium text-secundario mb-3;
  }

  table {
    @apply w-full border-separate border-spacing-y-3;
  }

  th {
    @apply text-secundario text-sm font-bold pb-2 px-4;
  }

  tr.row-estandar {
    @apply bg-input hover:bg-gray-200 transition-colors text-sm text-gray-700 font-medium;
  }
}